- provide(:title,'My Teams List')
.row

	%aside.span4
		=form_for(@team, remote: "true") do |f|
			= render 'shared/error_messages', object: f.object
			.field= f.text_field :name, placeholder: "Team Name"
			.field= f.text_area :description, placeholder: "Team Description"
			= f.submit "Add Team", class: "btn btn-medium btn-primary"
		#teams_errors
	#teams.span8
		= render partial: 'teams'

