- if @stack and @task then
	%fieldset{style: 'width:100%'}
		#new_task_container
			=form_for([@stack,@task], validate: true, remote: true) do |f|
				=render 'shared/error_messages', object: f.object
				=f.text_field :name, placeholder: "Add New Task", required: true, class: "required", style: 'width:80%;'
				#new_task_body{style: 'display:none;'}
					=f.text_area :description, placeholder: "Description", style: 'width:80%;', rows:5
					=f.text_field :due, class: "datepicker date", placeholder: "Due Date"
					=f.text_field :duetime, class: "time", placeholder: "Due Time"
					%table
						%tr 
							%th="Priority"
							%th="Status"
						%tr
							%td
								%br
								%ul.rating{class: @task.priority_star, id: "rating0"}
									- 1.upto(5) do |v|
										%li{class: "_#{v}"}
											%a{href: "javascript:togglePriorty(0,#{v});"}=v			
							%td 
								= f.radio_button :status_id, 100, {checked: true}
								= image_tag('/assets/images/message_new.png', {title: "New"})
								= f.radio_button :status_id, 200
								= image_tag('/assets/images/message_in.png', {title: "Incoming"})
								= f.radio_button :status_id, 300
								= image_tag('/assets/images/message_empty.png', {title: "Pending"})
								= f.radio_button :status_id, 400
								= image_tag('/assets/images/message_full.png', {title: "In Process"})
								= f.radio_button :status_id, 500
								= image_tag('/assets/images/message_minus.png', {title: "Minus"})
								%br
								= f.radio_button :status_id, 600
								= image_tag('/assets/images/message_plus.png', {title: "Plus"})
								= f.radio_button :status_id, 700
								= image_tag('/assets/images/message_flag.png', {title: "Ready"})
								= f.radio_button :status_id, 800
								= image_tag('/assets/images/message_lock.png', {title: "Waiting Dependeny"})
								= f.radio_button :status_id, 900
								= image_tag('/assets/images/message_out.png', {title: "Outgoing"})
								= f.radio_button :status_id, 1000
								= image_tag('/assets/images/message_ban.png', {title: "Closed"})
								
					=f.hidden_field :priority, value: @task.priority	
		
					
					=f.button "Add Task", class: "btn btn-medium btn-primary" 
			#tasks_errors

