- if @stack and @task then
	%fieldset{style: 'width:100%'}
		#new_task_container
			=form_for([@stack,@task], validate: true, remote: true) do |f|
				=render 'shared/error_messages', object: f.object
				=f.text_field :name, placeholder: "Add New Task", required: true, class: "required", style: 'width:80%;'
				#new_task_body{style: 'display:none;'}
					=f.text_area :description, placeholder: "Description", style: 'width:80%;', rows:5
					%br
					=f.datetime_select( :due,{include_blank: true}, {style: 'width:8em;'} )
					%table
						%tr 
							%th="Priority"
							%th="Status"
						%tr
							%td
								%br
								%ul.rating{class: @task.priority_star, id: "rating0"}
									- 1.upto(5) do |v|
										%li{class: "_#{v}"}
											%a{href: "javascript:togglePriorty(0,#{v});"}=v			
							%td 
								= f.radio_button :status_id, 100, {checked: true}
								= image_tag('/assets/images/message_new.png', {title: "New"})
								= f.radio_button :status_id, 400
								= image_tag('/assets/images/message_full.png', {title: "Active"})
								= f.radio_button :status_id, 700
								= image_tag('/assets/images/message_minus.png', {title: "Not Active"})
								= f.radio_button :status_id, 800
								= image_tag('/assets/images/message_lock.png', {title: "Pending Dependeny"})
								= f.radio_button :status_id, 1000
								= image_tag('/assets/images/message_ban.png', {title: "Closed"})
								
					=f.hidden_field :priority, value: @task.priority	
		
					
					=f.button "Add Task", class: "btn btn-medium btn-primary" 
			#tasks_errors

