%li
	- if current_user?(task.user)
		= link_to image_tag("delete.png", width: '16px'), stack_task_path(@stack.id,task.id), method: :delete, data: {confirm: "Confirm deleting task: #{task.name}. Are you sure?"}, title:task.name, remote: true
	- if task.due && task.due < Time.now
		%span.late=task.name
	- else
		%span.notlate=task.name
	%span.content=wrap(task.description)
	%span.timestamp= "#{time_ago_in_words(task.updated_at)} ago."
	
	- if current_user?(task.user)
		= simple_form_for([@stack,task], validate: true, :html => { class: 'form-inline' }, remote: true) do |f|
			%span.control-group.radio_buttons.optional
				%span.controls
					- 1.upto(5) do |v|
						&nbsp;
						- if v*10 == task.priority
							<input type='radio' value='#{v*10}' checked='checked' name='task[priority]' class='star required' />
						- else
							<input type='radio' value='#{v*10}' name='task[priority]' class='star required' />
						&nbsp;
				%br
			%ul.rating{class: task.priority_star, id: "rating#{task.id}"}
				- 1.upto(5) do |v|
					%li{class: "_#{v}"}
						%a{href: "javascript:togglePriorty(#{task.id},#{v});"}
							=v			
						
			=f.hidden_field :priority, value: task.priority	
			%span &nbsp;
			= f.input :status_id,
				:collection => [ %w[Open 100], %w[Pending 200], %w[Closed 300]],
				label: false,
				as: :radio_buttons
			%span &nbsp;
			=f.button :submit
			=f.error_notification
		
