%li
	%div
		= link_to "#{stack.name} (#{stack.tasks.count})",stack
		- if stack.tasks.count==0 && current_user?(stack.user) && stack!=@stack
			%span.pull-right= link_to raw("&times; &nbsp;"), stack, method: :delete, remote: true, data: {confirm: "Confirm Deleting #{stack.name} ?"}, class: "close pt-close", style: "color: red;"
			
